@mixin horizontal_block__header_block() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.horizontal_block {
  margin: 4rem 0 8rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-light);

  .horizontal_block__header_block {
    @include horizontal_block__header_block();

    .block_header {
      color: var(--horizontal-block-light-header-color);
      font-size: 3rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
}

.horizontal_block:nth-of-type(1) {
  margin-top: 4rem;
}