.block {
  width: 100%;

  .block_info_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    align-content: space-between;
    align-items: center;
    margin-top: -6.5em;

    .block_info_content__item {
      margin-left: 1.5em;
      color: var(--horizontal-block-light-color);
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2em;
    }

    .block_info_content__round {
      width: 31.25rem;
      height: 31.25rem;
      flex-shrink: 0;
      border-radius: 31.25rem;
      background: var(--photo-round-background);
    }
  }
}
