@import url('https://fonts.googleapis.com/css2?family=Allura&family=Roboto&display=swap');

.block {

  &__name {
    display: flex;
    width: 7.125rem;
    height: 3rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    font-family: 'Allura', cursive;
    color: var(--font-light);
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 85%; /* 1.7rem */
  }

  &__nav {
    height: 1.625rem;
    flex-shrink: 0;

    &__menu {
      display: flex;
      list-style: none;

      &__item {
        width: 10rem;
        height: 1.625rem;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &__link {
          color: var(--font-light);
        }

        &__link:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .block__logo {
    display: flex;
    flex-shrink: 0;
  }
}
