:root {
    --light-font: #E8E8E8;
    --background-purple: #501176;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Roboto, serif;
}

a {
    text-decoration: none;
}

body {
  background: var(--background-purple);
}